<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ApostrfySree</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>TTNorms-Black.otf</string>
		<string>TTNorms-BlackItalic.otf</string>
		<string>TTNorms-Bold.otf</string>
		<string>TTNorms-BoldItalic.otf</string>
		<string>TTNorms-ExtraBold.otf</string>
		<string>TTNorms-ExtraBoldItalic.otf</string>
		<string>TTNorms-ExtraLight.otf</string>
		<string>TTNorms-ExtraLightItalic.otf</string>
		<string>TTNorms-Heavy.otf</string>
		<string>TTNorms-HeavyItalic.otf</string>
		<string>TTNorms-Italic.otf</string>
		<string>TTNorms-Light.otf</string>
		<string>TTNorms-LightItalic.otf</string>
		<string>TTNorms-Medium.otf</string>
		<string>TTNorms-MediumItalic.otf</string>
		<string>TTNorms-Regular.otf</string>
		<string>TTNorms-Thin.otf</string>
		<string>TTNorms-ThinItalic.otf</string>
	</array>
</dict>
</plist>
